/* add your CSS here */
ul {

	list-style: none;
	padding: 0;
}

h3 {

	font-size: 2em;
}

img {

	margin-bottom: 20px;
}

span {
	
	font-weight: bold;
}

.container {

	width: 300px;
	box-shadow: 10px 8px 5px #d9d9d9;
}

.content {

	border: solid gray;
	border-width: 1px;
	padding: 20px;
}

.fact {

	font-style: italic;
}


